.timeline {
  box-sizing: border-box; }
  .timeline::before {
    box-sizing: border-box; }
  .timeline * {
    box-sizing: border-box; }
    .timeline *::before {
      box-sizing: border-box; }

/* Main logic */
.timeline {
  position: relative;
  font-size: 1em;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: hidden;
  margin-top: 0; }
  .timeline .timeline-block {
    margin: 40px 0; }
  .timeline .timeline-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: 3px;
    background-color: white;
    text-align: center; }
    .timeline .timeline-icon.timeline-icon-hide-border {
      border: 0; }
      .timeline .timeline-icon.timeline-icon-hide-border i.fa, .timeline .timeline-icon.timeline-icon-hide-border img {
        margin-left: 0;
        margin-top: 0; }
    .timeline .timeline-icon i.fa, .timeline .timeline-icon img {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-left: -16px;
      margin-top: 0px;
      vertical-align: bottom;
      line-height: 32px;
      text-align: center;
      font-size: 30px; }
  .timeline .timeline-content {
    position: relative;
    width: 45%;
    padding: 12px;
    background-color: #EEE;
    border: 1px solid #e5e5e5;
    line-height: 20px;
    min-height: 64px; }
  .timeline .timeline-date {
    position: absolute;
    width: auto;
    top: 12px;
    left: 118%;
    font-size: 80%; }

.timeline::before {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -1px;
  /* Half of width */
  background-color: #CFCFC4;
  content: "";
}

  .timeline.timeline-alternating:not(.timeline-left) .timeline-block:nth-of-type(2n) .timeline-content {
    left: 55%; }
  .timeline.timeline-alternating:not(.timeline-left) .timeline-block:nth-of-type(2n) .timeline-date {
    left: auto;
    right: 118%;
    margin-left: -400px; }

.timeline p {
  margin: 0;
  font-size: 28px;
}
.timeline-date p {
  font-size: 25px;
}

/* Left based logic */
.timeline.timeline-left::before {
  left: auto;
  margin-left: 165px;
}

.timeline.timeline-left .timeline-block {
  margin-left: 199px;
  margin-right: 10px;
}

.timeline.timeline-left .timeline-icon {
  left: auto;
  margin-left: -49px; }

.timeline.timeline-left .timeline-content {
  width: auto; }

.timeline.timeline-left .timeline-date {
  width: 145px;
  left: 0;
  margin-left: -210px;
  text-align: right; }

/* Arrows */
.timeline.timeline-with-arrows .timeline-content::after, .timeline.timeline-with-arrows .timeline-content::before {
  left: 100%;
  top: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent; }

.timeline.timeline-with-arrows .timeline-content::after {
  border-left-color: #EEE;
  border-width: 14px;
  margin-left: 0;
  margin-top: 0; }

.timeline.timeline-with-arrows .timeline-content::before {
  border-left-color: #e5e5e5;
  border-width: 15px;
  margin-left: 1px;
  margin-top: -1px; }

.timeline.timeline-with-arrows.timeline-left .timeline-content::after, .timeline.timeline-with-arrows.timeline-left .timeline-content::before {
  left: 0;
  right: 100%;
  border-left-color: transparent !important; }

.timeline.timeline-with-arrows.timeline-left .timeline-content::after {
  border-right-color: #EEE;
  margin-left: -28px; }

.timeline.timeline-with-arrows.timeline-left .timeline-content::before {
  border-right-color: #e5e5e5;
  margin-top: -1px;
  margin-left: -31px; }

.timeline.timeline-with-arrows.timeline-alternating .timeline-block:nth-of-type(2n) .timeline-content::after, .timeline.timeline-with-arrows.timeline-alternating .timeline-block:nth-of-type(2n) .timeline-content::before {
  left: 0;
  right: 100%;
  border-left-color: transparent !important; }

.timeline.timeline-with-arrows.timeline-alternating .timeline-block:nth-of-type(2n) .timeline-content::after {
  border-right-color: #EEE;
  margin-left: -28px; }

.timeline.timeline-with-arrows.timeline-alternating .timeline-block:nth-of-type(2n) .timeline-content::before {
  border-right-color: #e5e5e5;
  margin-top: -1px;
  margin-left: -31px; }

/* Icon only */
.timeline-icon.timeline-icon-text {
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  background-color: transparent; }
  .timeline-icon.timeline-icon-text span {
    display: inline-block;
    width: auto;
    background-color: #EEE;
    border: 1px solid #e5e5e5;
    padding: 0 10px; }

.timeline.timeline-left .timeline-icon.timeline-icon-text {
  left: auto;
  width: auto;
  margin-left: 0 !important; }

.timeline-block.timeline-block-icon-only .timeline-content {
  visibility: hidden; }
